ul {
  background-color: bisque;
  list-style-type: none;
  padding: 1rem;
  max-width: 50ch;
  margin: auto;
}

li {
  position: relative; /* necessary to control the position of elements */
  margin: 0.6rem;
  background-color: rgba(245, 245, 220, 0.7);
  user-select: none;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #222;
  z-index: 0;
}

li.grabbed {
  cursor: grabbing;
  z-index: 1; /* so that grabbed item is always above the others with z-index: 0 */
}
